
*{
	font-family: 'Open Sans', sans-serif;
}

.above {
	font-family: 'Zilla Slab', serif;
	background-color: #000000;
	background-image: url("../images/beachguys.jpg");
	background-repeat: no-repeat;
	background-position: cover;
}

h1, h2 {
    color: black;
		font-family: 'Zilla Slab', serif;

}


p {}


h1 {
		margin-top: 8rem;
		margin-bottom: 5rem;
		text-align: center;
}
